//========================================== 
//========================================== 
//========================================== 
//========================================== 
body {
  background-color: #333;
}  
//====================== MIXIN STRIPES  
//N:\E\www\Padrao_Patterns
@mixin stripes(
        //$_height: 100%,
        //$_width: 100%,
        //$_left: 0,
        //$_top: 0,

        $_tipo: 'horizontal', //horizontal, vertical, oblíquo45, oblíquo135
  
        $cor1: white,       //CORES (rgba(255, 255, 255, 1) | white | #FFFFFF)
        $cor2: transparent, 

        $stripes_size: 1px,     //mínimo 1x1 stripe

        $_animation: 'false',   //'true' | 'false'
        
        //.........ONLY IF $_animation: 'true'
        $_animation_keyframes: null,
        $_animation_time: null,
        $_animation_bg_position: null
  )
{
  
  //position: absolute;
  //............ HEIGHT/WIDTH/LEFT/TOP
  /*
    height: $_height;
    width: $_width;
    left: $_left;
    top: $_top;
  */
  //............TIPO: horizontal, vertical, oblíquo45, oblíquo135
    $degrees: 0deg;
    @if $_tipo == 'horizontal' {  $degrees: 90deg;
      }@if $_tipo == 'vertical'  {  $degrees: 0deg;
      }@if $_tipo == 'oblíquo45' {  $degrees: 45deg;        
    }@if $_tipo == 'oblíquo135'{  $degrees: 135deg;
    }
  
  //............. DEPENDE DO VALOR DO background-size, MÍNIMO PARECE SER 4px
    background-image: -webkit-linear-gradient(  $degrees, 
                          $cor1 25%, 
                          
                          $cor2 25%, $cor2 50%, 
                          $cor1 50%, $cor1 75%, 
                           
                          $cor2 75%, $cor2
                          );  
  
  //............ SIZE STRIPES
    $bg_size_min: 4;  //FUNCIONA ASSIM, MAS ERA MAIS CORRECTO COM 'px'
    $bg_size1: calc(#{$bg_size_min} * #{$stripes_size});
      background-size:       $bg_size1  $bg_size1;
    -webkit-background-size: $bg_size1  $bg_size1;

    //background-position: 0 0;

  //............ ANIMATION
    @if $_animation == 'true' {  
      
      //PARA ELIMINAR O 'FLICK' NOS STRIPES OBLÍQUOS: 
      //background-position nos 100% deve ser == $bg_size_min x $stripes_size
      //SE A ANIMAÇÃO TIVER DE SER MAIS RÁPIDA, USAR UM MÚLTIPLO DESSE VALOR (Ex: 24px ou 48px ou 72px)
      @include keyframes($_animation_keyframes) {   
          0% { background-position: 0px 0; } 
          100% { background-position: $_animation_bg_position 0; }   
      }//@include...

      @include animation($_animation_keyframes $_animation_time linear infinite);
    }//if...
  //............
}

//======================
@mixin keyframes($animation-name) {
  @-webkit-keyframes  #{$animation-name} { @content; }
  @-moz-keyframes     #{$animation-name} { @content; }
  @keyframes          #{$animation-name} { @content; } 
}
//Ex: @include keyframes('animate-stripes') {0% {background-position: 0 0;} 100% {background-position: 100% 0; } }
//======================
@mixin animation($str) {
    -webkit-animation:  #{$str};
    -moz-animation:     #{$str};
    -ms-animation:      #{$str};
    animation:          #{$str};
}
//Ex: @include animation('animate-stripes 5s linear infinite');
























  //................. TESTE GRADIENTE MIXIN...
    #teste_gradiente {
      border: 3px  green solid; 
      height: 50px;
      position: relative;
      display: block;
      width: 406px; 

      //............  EXEMPLO
      @include stripes(
            $_tipo: 'oblíquo135',  //horizontal, vertical, oblíquo45, oblíquo135
      
            $cor1: rgba(255, 255, 255, 1),      //CORES (rgba(255, 255, 255, 1) | white | #FFFFFF)
            $cor2: black, 

            $stripes_size: 3px,     //mínimo 1x1 stripe

            $_animation: 'true',  //'false'   'true'
            //.........ONLY IF $_animation: 'true'
            $_animation_keyframes: animate-stripes,    //ANIMAÇÃO CRIADA NO MIXIN
            $_animation_time: 1s,
            //............DEVE SER == 4 x $stripes_size (ou múltiplo, PARA ANIMATION SPEED)
            $_animation_bg_position: 48px
      );
      //............
    }










































